.idea
**/*.pyc
**/*~
**/*#
.cache
ulauncherc
*.egg-info
build
.build-checksum
po
.coverage
htmlcov
**/node_modules
**/bower_components
.tmp
.git
index.html
.travis.yml
aur_key
*.key
.mypy_cache/
.vscode/
.pytest_cache/
.venv/
