.idea
**/*.pyc
**/*~
**/*#
.cache
ulauncherc
*.egg-info
build
!data/preferences/build
_build
.build-checksum
po
.coverage
htmlcov
node_modules/
bower_components/
.tmp/
aur_key
*.key
generated.css
launchpad.ssh.tar
.mypy_cache/
.vscode/
.pytest_cache/
.venv/
