[Desktop Entry]
Version=1.5
Name=Ulauncher
Comment=Application launcher for Linux
GenericName=Launcher
Categories=GNOME;GTK;Utility;
DBusActivatable=true
TryExec=ulauncher
Exec=gapplication launch io.ulauncher.Ulauncher
Icon=ulauncher
SingleMainWindow=true
Terminal=false
Type=Application
X-GNOME-UsesNotifications=true
