# Keep all .venv depdencencies in this file.
# It's used as the source of truth to determine if a .venv is outdated
#
# NOTE: pygobject-stubs needs PYGOBJECT_STUB_CONFIG=Gtk3,Gdk3,Soup2

build
lefthook
pygobject-stubs==2.12.0
pyrefly >= 0.60.0
pytest
pytest-mock
ruff >= 0.15.9
rumdl >= 0.1.22; python_version >= '3.9'
typos
