[Unit]
Description=Linux Application Launcher
Documentation=https://ulauncher.io/

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/ulauncher --no-window

[Install]
WantedBy=graphical-session.target
