[Unit]
Description=Ulauncher service
Documentation=https://ulauncher.io/

[Service]
BusName=io.ulauncher.Ulauncher
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/ulauncher --no-window

[Install]
WantedBy=graphical-session.target
