<div class="general-tab" ng-controller="generalController as generalCtrl">

  <div class="general-tab__row">
    <div>Launch at Login</div>
    <div>
      <input id="autostart" type="checkbox" class="ulaunch-checkbox">
      <label for="autostart" ng-click="toggleAutostart($event)"></label>
      <p class="general-tab__hint-label">Start Ulauncher automatically</p>
    </div>
  </div>

  <div class="general-tab__row">
    <div>Ulauncher Hotkey</div>
    <div>
      <input id="hotkey-show-app" type="text" class="ulaunch-input" ng-click="hotkeyShowPopup($event)">
    </div>
  </div>

  <div class="general-tab__row">
    <div>Show Tray Icon</div>
    <div>
      <input id="show-indicator-icon" type="checkbox" class="ulaunch-checkbox"/>
      <label for="show-indicator-icon" ng-click="toggleIndicatorIcon($event)"></label>
    </div>
  </div>

  <div class="general-tab__row">
    <div>Show Recent Apps</div>
    <div>
      <input id="show-recent-apps" type="checkbox" class="ulaunch-checkbox">
      <label for="show-recent-apps" ng-click="toggleRecentApps($event)"></label>
      <p class="general-tab__hint-label">Shows a list of most recently used apps by default</p>
    </div>
  </div>

  <div class="general-tab__row">
    <div>Theme</div>
    <div>

      <div class="ulaunch-radio">
        <span>
          <input id="theme-dark" name="theme" type="radio" class="with-font" value="sel" />
          <label for="theme-dark" ng-click="setTheme('dark', $event)">Dark</label>
        </span>
        <span>
          <input id="theme-light" name="theme"type="radio" class="with-font" value="sel"/>
          <label for="theme-light" ng-click="setTheme('light', $event)">Light</label>
        <span>
      </div>
    </div>
  </div>

</div>