.ulaunch-radio {
  input[type=radio].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: 0 -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  > * {
    display: inline-block;
    padding-top: 4px;
    margin-right: 20px;
  }

  input[type=radio].with-font,
  input[type=radio].with-font ~ label {
    cursor: pointer;
    color: gray;
    font-weight: normal;
  }
  input[type=radio].with-font ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f10c";
    letter-spacing: 10px;
    font-size: 1.2em;
    width: 1.4em;
    font-weight: bold;
  }

  input[type=radio].with-font:checked ~ label:before {
    content: "\f192";
    font-size: 1.2em;
    color: #3F7FBE;
    letter-spacing: 5px;
  }
  input[type=radio].with-font:focus ~ label:before,
  input[type=radio].with-font:focus ~ label {
    color: #3F7FBE;
  }

}