.ulaunch-toggler {
  display: none;
}
.ulaunch-toggler + label {
  cursor: pointer;
  line-height: 2em;
}

.ulaunch-toggler + label:before {
  font-family: FontAwesome;
  display: inline-block;
  color: #3F7FBE;
  font-size: 22px;
}

.ulaunch-toggler + label:before {
  content: "\f204";
  letter-spacing: 10px;
}

.ulaunch-toggler:checked + label:before {
  content: "\f205";
  letter-spacing: 7.5px;
}

