.ulaunch-input {
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  border-top: 1px solid #929292;
  border-bottom: 1px solid #b3b3b3;

  padding: 4px 8px;
  color: #3F7FBE;
  font-size: 16px;
  font-weight: 400;
}