$headerHeight: 60px;
$underlineHeight: 4px;
$darkBlue: #369;
$veryLightGrey: #c8c8c8;

.main-header {
  box-sizing: border-box;
  height: $headerHeight;
  padding: 0 15px 0 25px;
  border-bottom: 1px solid $veryLightGrey;
  background: #e4e4e4;
  font-size: 13px;
  letter-spacing: 0.04px;

  &__link {
    // hack to avoid ugly outdated link
    // dotted border
    outline: 0;

    position: relative;
    display: inline-block;
    height: 100%;
    padding-top: 20px;
    padding-right: 25px;
    cursor: pointer;
    text-decoration: none;
    color: #6b6b6b;

    &:hover {
      color: #4675ab;
    }

    &--active {
      color: $darkBlue;

      &:after {
        content: '';
        position: absolute;
        top: $headerHeight - $underlineHeight;
        left: -1.5px;
        display: inline-block;
        height: $underlineHeight;
        width: 82%;
        background: $darkBlue;
      }
    }
  }

  &__link-icon {
    padding: 5px;
    font-size: 15px;
  }

  &__close-container {
    padding-top: 15px;
    text-align: right;
    /* Hide close button while we use a decorated prefs. window */
    display: none;
  }

  &__close {
    cursor: pointer;
    font-size: 30px;
    color: $veryLightGrey;
  }
}