Source: ulauncher
Section: python
Priority: extra
Build-Depends: debhelper (>= 8),
 python-all (>= 2.7~),
 dh-python,
 python-distutils-extra (>= 2.10)
Maintainer: Aleksandr Gornostal <sanya.gornostal@gmail.com>
Standards-Version: 3.9.5
X-Python-Version: >= 2.7

Package: ulauncher
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 python-xdg,
 gir1.2-gtk-3.0,
 python-dbus,
 python-levenshtein,
 python-pysqlite2,
 libgtk-3-0 (>= 3.10),
 gir1.2-keybinder-3.0 (>= 0.3),
 gir1.2-webkit2-3.0,
 libkeybinder-3.0-0,
 gir1.2-glib-2.0,
 gir1.2-gdkpixbuf-2.0,
 gir1.2-appindicator3-0.1,
 python-pyinotify
Description: Provides a convenient and fast way to launch your desktop applications
 See https://github.com/Ulauncher/Ulauncher/ for more information
