#!/usr/bin/make -f
export DEB_BUILD_OPTIONS=nocheck
# Enable this export to get more detailed information about what debhelper does during the build process.
#export DH_VERBOSE = 1

%:
ifneq ($(shell dh -l | grep -xF translations),)
	dh $@ --with python3,translations --buildsystem=pybuild
else
	dh $@ --with python3 --buildsystem=pybuild
endif

override_dh_builddeb:
	dh_builddeb -- -Zgzip
