@import url("reset.css");

GtkWindow {
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.2);
}

.wrapper {
    background-color: #3b3b3b;
    border-radius: 10px;
}

.input {
    color: #ddd;
    border-radius: 4px;
    font-size: 28px;
    padding: 10px;
    background-color: #595959;
    box-shadow: inset 0 1px 9px 3px rgba(0,0,0, 0.3);
}

.item-text {
    color: #999;
}
.item-name {
    color: #bbb;
    font-size: 120%;
}

.selected .item-box {
    border-radius: 10px;
    background-color: #4675ab;
}
.selected .item-box .item-text {
    color: #99ccff;
}
.selected .item-box .item-name {
    color: #eee;
}
.item-descr {
    font-size: 80%;
}

.prefs-btn {
    background-image: url('../media/prefs.png');
}
.prefs-btn:hover {
    background-position: 0 -27px;
}