@import url("reset.css");

GtkWindow {
    background-color: rgba(104,112,116, 0.8);
    border-radius: 4px;
}

.input {
    color: rgba(230, 230, 230, 0.7);
    border: 1px solid rgba(170, 170, 170, 0.7);
    border-radius: 4px;
    font-size: 30px;
    padding: 10px;
    background-color: rgba(71,75,77, 0.96);
}

.item-frame {
    background-color: rgb(71,75,77);
}
.item-frame.selected {
    background-color: #6F6D65;
}

.item-text {
    color: rgba(230, 230, 230, 0.7);
}
.item-name {
    font-size: 120%;
}
.item-descr {
    font-size: 80%;
}
.item-shortcut {
    font-family: "Ubuntu Mono", monospace;
    padding: 5px;
}
.selected .item-shortcut {
    padding: 15px;
}