.ulaunch-checkbox {
  display: none;
}

.ulaunch-checkbox + label:before {
  font-family: FontAwesome;
  display: inline-block;
  color: #40abf3;
  font-size: 18px;
}

.ulaunch-checkbox + label:before {
  content: "\f096";
  letter-spacing: 10px;
}

.ulaunch-checkbox:checked + label:before {
  content: "\f046";
  letter-spacing: 7px;
}


