@import url("../reset.css");

.wrapper {
    box-shadow: 0 0 5px #444;
    background-color: @window_bg;
    border: 1px solid #b1b1b1;
    border-radius: 4px;
}

.input {
    color: @input_color;
    font-size: 15px;
    padding: 5px 10px;
}

/**
 * Selected text in input
 */
.input *:selected,
.input *:focus,
*:selected:focus {
    background-color: alpha (@selected_bg_color, 0.9);
    color: @selected_fg_color;
}

.input *:backdrop,
.input *:focus:backdrop,
*:focus:backdrop {
    background-color: alpha (@backdrop_selected_bg_color, 0.9);
    color: @backdrop_selected_fg_color;
}

.item-text {
    color: @item_text;
}
.item-name {
    color: @item_name;
    font-size: 120%;
}

.selected.item-box {
    background-color: @item_box_selected;
}
.selected.item-box .item-text {
    color: @item_text_selected;
}
.selected.item-box .item-name {
    color: @item_name_selected;
}
.item-descr {
    font-size: 80%;
}

.item-box {
    margin: 20px;
}

.prefs-btn {
    background-repeat: no-repeat;
}
.prefs-btn:hover {
    background-position: 0 -27px;
}


/**
 * Small result item
 */
.small-result-item.selected .item-box {
    border-radius: 5px
}
.small-result-item .item-name {
    font-size: 100%;
}
