html {
  background: #f2f2f2;
  border: 1px solid #e4e4e4;
}

body {
  color: #3d3d3d;
  background: #f2f2f2;
  font-family: Ubuntu, sans-serif;
}
.pure-g [class *= "pure-u"] {
  /* pure.css for whatever reason has decided to reset font-family to sans-serif in this selector
     so we set it to what we want */
  font-family: Ubuntu, sans-serif;
}

body * {
  box-sizing: border-box;
}

.noselect {
  -webkit-user-select: none;
  user-select: none;
}

.selectable {
  -webkit-user-select: auto;
  user-select: auto;
}
