html {
  background: #f2f2f2;
  border: 1px solid #e4e4e4;
}

body {
  color: #3d3d3d;
  background: #f2f2f2;
}

body * {
  box-sizing: border-box;
}

.noselect {
  -webkit-user-select: none;
  user-select: none;
}
