.link {
  box-sizing: border-box;
  &--button {
    text-decoration: none;
    display: inline-block;
    border: 1px solid #3c6a9f;
    border-radius: 10px;
    width: 120px;
    height: 42px;
    padding-top: 10px;
    background: linear-gradient(to bottom, #589bcc 0%,#4b81b2 52%,#426fa0 100%);
    color: #fff;
    font-size: 17px;
  }
}