name: Draft release

on:
  push:
    tags:
      - '*'

jobs:
  draft_release:
    runs-on: ubuntu-latest
    container: ulauncher/build-image:6.2
    steps:
      - uses: actions/checkout@v3
      - name: Test
        run: make test
      - name: Build release
        run: |
          VERSION=$(make version)
          echo "Building Ulauncher version: $VERSION"
          ln -s /var/node_modules preferences-src # use node modules from cache
          make deb DEB_DISTRO=focal
          # make sure to run make sdist after make deb because make deb overwrites the tarball
          make sdist

      - name: Make draft GitHub release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: |
            dist/*.tar.gz
            dist/*.deb
