name: Publish release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    container: ulauncher/build-image:6.3
    steps:
      - uses: actions/checkout@v3
      - name: Publish to Launchpad
        env:
          LAUNCHPAD_SSH_TAR: ${{ secrets.LAUNCHPAD_SSH_TAR }}
          LAUNCHPAD_PUB_KEY: ${{ secrets.LAUNCHPAD_PUB_KEY }}
          LAUNCHPAD_SECRET_KEY: ${{ secrets.LAUNCHPAD_SECRET_KEY }}
          GPGKEY: ${{ secrets.DEB_GPGKEY }}
          PPA: agornostal/ulauncher
        shell: bash
        run: |
          echo "Ref type: $GITHUB_REF_TYPE"
          VERSION=$(make version)
          echo "Version: $VERSION"
          # If release name contains prerelease-separator "-", use ulauncher-dev PPA
          if [[ "$VERSION" == *-* ]]; then PPA="agornostal/ulauncher-dev"; fi
          echo "PPA: $PPA"
          echo -n "$LAUNCHPAD_SSH_TAR" | base64 -d > scripts/launchpad.ssh.tar
          echo -n "$LAUNCHPAD_PUB_KEY" | base64 -d > scripts/launchpad-public.key
          echo -n "$LAUNCHPAD_SECRET_KEY" | base64 -d > scripts/launchpad-secret.key
          tar -xvf scripts/launchpad.ssh.tar -C /
          gpg --import "scripts/launchpad-public.key"
          gpg --import "scripts/launchpad-secret.key"
          # noble    24.04 LTS EOL 2029-06
          # jammy    22.04 LTS EOL 2027-06
          # plucky   25.04     EOL 2026-01
          # focal    20.04 LTS EOL 2025-05
          for DISTRO in $(echo "noble jammy oracular focal plucky"); do
            DEB_VERSION="$(echo "$VERSION" | tr "-" "~")-0ubuntu1ppa1~$DISTRO"
            make deb DEB_VERSION=$DEB_VERSION DEB_DISTRO=$DISTRO DPKG_ARGS="--post-clean --build=source -sa --sign-key=${GPGKEY}"
            echo "Uploading to launchpad PPA:${PPA}"
            dput -f "ppa:${PPA}" dist/*.changes
            rm dist/*
          done;

      - name: Publish to AUR
        if: "${{ !contains(github.ref_name, '-') }}"
        uses: friday/aur-publish-action@master
        with:
          new_release: ${{ github.ref_name }}
          package_name: ulauncher
          commit_username: 'Ulauncher'
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_PRIVATE_KEY }}
