name: Tests

on:
  push:
    branches:
      - "*"
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    container: ulauncher/build-image:6.0
    steps:
      - uses: actions/checkout@v3
      - name: black
        run: make black
      - name: ruff
        run: make ruff
      - name: typo
        run: make typos
      - name: mypy
        run: make mypy
      - name: pytest
        run: make pytest
      - name: build preferences
        run: make prefs FORCE=1
      - name: build docs
        run: make docs
  nix-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v30
      - name: make nix-build
        run: make nix-build
        timeout-minutes: 5
