name: Tests

on:
  push:
    branches:
      - "*"
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    container: ulauncher/build-image:6.4
    steps:
      - uses: actions/checkout@v5
      - name: ruff
        run: make ruff
      - name: pyrefly
        run: make pyrefly
      - name: typo
        run: make typos
      - name: pytest
        run: make pytest
      - name: build docs
        run: make docs
  nix-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
      - name: make nix-build
        run: make nix-build
        timeout-minutes: 5
