.about-container {
  padding: 33px;
  padding-bottom: 0;
  text-align: center;

  &__logo-label {
    margin: 20px 0 5px 0;
    font-size: 20px;
    color: #507caf;
  }

  &__version-label {
    margin: 0;
    color: #507caf;
  }

  & .text-container {
    padding: 20px 35px 15px 35px;
    border: 1px solid #7ec183;
    border-radius: 8px;
    font-size: 14px;
    color: #aeaeae;
  }

  &__credits-text {
    text-align: left;
  }

  &__logo svg {
    width: 190px;
    height: 190px;
  }
}